<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.4"?>
<plugin> 
	<extension point = "org.eclipse.debug.core.launchConfigurationTypes">
	   <launchConfigurationType
	   	   id="prompto.launcher.server"
		   name="Prompto server"
		   delegate="prompto.launcher.LaunchDelegate"
		   sourceLocatorId="prompto.locator.sourceLocator"
		   sourcePathComputerId="prompto.locator.sourcePathComputer"
		   modes= "run, debug">
	   </launchConfigurationType>
	   <launchConfigurationType
	   	   id="prompto.launcher.application"
		   name="Prompto application"
		   delegate="prompto.launcher.LaunchDelegate"
		   sourceLocatorId="prompto.locator.sourceLocator"
		   sourcePathComputerId="prompto.locator.sourcePathComputer"
		   modes= "run, debug">
	   </launchConfigurationType>
	   <launchConfigurationType
	   	   id="prompto.launcher.script"
		   name="Prompto script"
		   delegate="prompto.launcher.LaunchDelegate"
		   sourceLocatorId="prompto.locator.sourceLocator"
		   sourcePathComputerId="prompto.locator.sourcePathComputer"
		   modes= "run, debug">
	   </launchConfigurationType>
	   <launchConfigurationType
	   	   id="prompto.launcher.unittest"
		   name="Prompto unit test"
		   delegate="prompto.launcher.LaunchDelegate"
		   sourceLocatorId="prompto.locator.sourceLocator"
		   sourcePathComputerId="prompto.locator.sourcePathComputer"
		   modes= "run, debug">
	   </launchConfigurationType>
	</extension>
 	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
 		<launchConfigurationTypeImage
			icon="images/launcher.png"
			configTypeID="prompto.launcher.server"
			id="prompto.launcher">
		</launchConfigurationTypeImage>
 		<launchConfigurationTypeImage
			icon="images/launcher.png"
			configTypeID="prompto.launcher.application"
			id="prompto.launcher">
		</launchConfigurationTypeImage>
 		<launchConfigurationTypeImage
			icon="images/launcher.png"
			configTypeID="prompto.launcher.script"
			id="prompto.launcher">
		</launchConfigurationTypeImage>
 		<launchConfigurationTypeImage
			icon="images/launcher.png"
			configTypeID="prompto.launcher.unittest"
			id="prompto.launcher">
		</launchConfigurationTypeImage>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	  <launchConfigurationTabGroup
	      id="prompto.launcher.application.tabGroup"
	      type="prompto.launcher.server"
	      class="prompto.launcher.ServerConfigTabGroup">
	  </launchConfigurationTabGroup>
	  <launchConfigurationTabGroup
	      id="prompto.launcher.application.tabGroup"
	      type="prompto.launcher.application"
	      class="prompto.launcher.AppConfigTabGroup">
	  </launchConfigurationTabGroup>
	  <launchConfigurationTabGroup
	      id="prompto.launcher.script.tabGroup"
	      type="prompto.launcher.script"
	      class="prompto.launcher.ScriptConfigTabGroup">
	  </launchConfigurationTabGroup>
	  <launchConfigurationTabGroup
	      id="prompto.launcher.unittest.tabGroup"
	      type="prompto.launcher.unittest"
	      class="prompto.launcher.TestConfigTabGroup">
	  </launchConfigurationTabGroup>
 	</extension>
	<extension point="org.eclipse.debug.core.sourcePathComputers">
 		<sourcePathComputer
    		class="prompto.locator.SourcePathComputer"
   			 id="prompto.locator.sourcePathComputer">
    	</sourcePathComputer>
	</extension>
	<extension point="org.eclipse.debug.core.sourceLocators">
	    <sourceLocator
	       name="Prompto source locator"
	    	class="prompto.locator.SourceLocator"
	    	id="prompto.locator.sourceLocator">
	    </sourceLocator>
	</extension>
	<extension point="org.eclipse.debug.ui.debugModelPresentations">
 		<debugModelPresentation
    		class="prompto.locator.ModelPresentation"
    		id="prompto.debug">
    	</debugModelPresentation>
  	</extension>
	<extension point="org.eclipse.debug.core.breakpoints">
 		<breakpoint
    		markerType="prompto.debug.line.marker"
    		class="prompto.debugger.LineBreakpoint"
       		id="prompto.debug.lineBreakpoint">
    	</breakpoint>
 	</extension>
  	<extension id="prompto.debug.line.marker" point="org.eclipse.core.resources.markers">
       <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
       <persistent value="true"/>
    </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="prompto.launcher.prefs.Initializer">
      </initializer>
   </extension>
       <extension
      point = "org.eclipse.ui.preferencePages">
      <page
         id="prompto.prefs.launcher"
         class="prompto.launcher.prefs.LauncherPage"
         name="Runtime"
         category="prompto.prefs.root">
      </page>
       <page
         id="prompto.prefs.runtime.java"
         class="prompto.launcher.prefs.JavaRuntimePage"
         name="Java Runtime"
         category="prompto.prefs.launcher">
      </page>
       <page
         id="prompto.prefs.runtime.csharp"
         class="prompto.launcher.prefs.CSharpRuntimePage"
         name="C# Runtime"
         category="prompto.prefs.launcher">
      </page>
       <page
         id="prompto.prefs.runtime.javascript"
         class="prompto.launcher.prefs.JavaScriptRuntimePage"
         name="JavaScript Runtime"
         category="prompto.prefs.launcher">
      </page>
       <page
         id="prompto.prefs.runtime.python2"
         class="prompto.launcher.prefs.Python2RuntimePage"
         name="Python 2 Runtime"
         category="prompto.prefs.launcher">
      </page>
       <page
         id="prompto.prefs.runtime.python3"
         class="prompto.launcher.prefs.Python3RuntimePage"
         name="Python 3 Runtime"
         category="prompto.prefs.launcher">
      </page>
   </extension>  
</plugin>
