<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.4"?>
<plugin>
	<extension id="presto.nature.scripts" point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="presto.core.ScriptsNature"/>
      </runtime>
      <one-of-nature id="presto.natures"/>
   </extension>
	<extension id="presto.nature.library" point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="presto.core.LibraryNature"/>
      </runtime>
      <one-of-nature id="presto.natures"/>
   </extension>
	<extension id="presto.nature.application" point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="presto.core.ApplicationNature"/>
      </runtime>
      <one-of-nature id="presto.natures"/>
   </extension>
   <extension id="presto.marker" point="org.eclipse.core.resources.markers"/>
   <extension id="presto.problem.marker" point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.core.resources.textmarker"/>
    	<super type="org.eclipse.core.resources.problemmarker"/>
   		<super type="presto.marker"/>
   		<persistent value="true"/>
	</extension>
  <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension targetID="*">
    	<newWizardShortcut id="presto.project.scripts"/> 
    	<newWizardShortcut id="presto.project.library"/> 
    	<newWizardShortcut id="presto.project.application"/> 
    </perspectiveExtension>
  </extension>
  <extension point="org.eclipse.ui.newWizards">
  	<category id="presto.project" name="Presto"/>
  	<wizard
         category="presto.project"
         class="presto.wizard.ScriptsProjectWizard"
         icon="images/scripts_wizard.gif"
         id="presto.project.scripts"
         name="Presto Scripts Project"
         project="true"/>
  </extension>
  <extension point="org.eclipse.ui.newWizards">
  	<category id="presto.project" name="Presto"/>
  	<wizard
         category="presto.project"
         class="presto.wizard.LibraryProjectWizard"
         icon="images/library_wizard.gif"
         id="presto.project.library"
         name="Presto Library Project"
         project="true"/>
  </extension>
  <extension point="org.eclipse.ui.newWizards">
  	<category id="presto.project" name="Presto"/>
  	<wizard
         category="presto.project"
         class="presto.wizard.ApplicationProjectWizard"
         icon="images/application_wizard.gif"
         id="presto.project.application"
         name="Presto Application Project"
         project="true"/>
  </extension>
  <extension point="org.eclipse.ui.navigator.viewer">
        <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
          <includes>
             <contentExtension pattern="presto.content.libraries"/>
          </includes>
       </viewerContentBinding>      
  </extension>
  <extension point="org.eclipse.ui.navigator.navigatorContent">
  		<navigatorContent id="presto.content.libraries" name="Libraries"
  		contentProvider="presto.content.ContentProvider"
  		labelProvider="presto.content.LabelProvider"
  		activeByDefault="true"
  		icon="images/library.gif"
  		priority="normal">
  			<triggerPoints>
				<and>
					<instanceof value="org.eclipse.core.resources.IProject"/>
  					<or>
		        		<test property="org.eclipse.core.resources.projectNature" value="presto.nature.scripts"/>
		        		<test property="org.eclipse.core.resources.projectNature" value="presto.nature.library"/>
		        		<test property="org.eclipse.core.resources.projectNature" value="presto.nature.application"/>
		        	</or>
		        </and>
  			</triggerPoints>
  			<possibleChildren>
  				<instanceof value="presto.content.ILibraryElement"/>
  			</possibleChildren>
  		</navigatorContent>
  </extension>
</plugin>
