<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.4"?>
<plugin>
	<extension id="prompto.nature.scripts" point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="prompto.ide.core.ScriptsNature"/>
      </runtime>
      <one-of-nature id="prompto.natures"/>
   </extension>
	<extension id="prompto.nature.library" point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="prompto.ide.core.LibraryNature"/>
      </runtime>
      <one-of-nature id="prompto.natures"/>
   </extension>
	<extension id="prompto.nature.application" point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="prompto.ide.core.ApplicationNature"/>
      </runtime>
      <one-of-nature id="prompto.natures"/>
   </extension>
	<extension id="prompto.nature.server" point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="prompto.ide.core.ServerNature"/>
      </runtime>
      <one-of-nature id="prompto.natures"/>
   </extension>
   <extension id="prompto.marker" point="org.eclipse.core.resources.markers"/>
   <extension id="prompto.problem.marker" point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.core.resources.textmarker"/>
    	<super type="org.eclipse.core.resources.problemmarker"/>
   		<super type="prompto.marker"/>
   		<persistent value="true"/>
	</extension>
  <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension targetID="*">
    	<newWizardShortcut id="prompto.project.scripts"/> 
    	<newWizardShortcut id="prompto.project.library"/> 
    	<newWizardShortcut id="prompto.project.application"/> 
    </perspectiveExtension>
  </extension>
  <extension point="org.eclipse.ui.newWizards">
  	<category id="prompto.project" name="Prompto"/>
  	<wizard
         category="prompto.project"
         class="prompto.ide.wizard.ScriptsProjectWizard"
         icon="images/scripts_wizard.gif"
         id="prompto.project.scripts"
         name="Prompto Scripts Project"
         project="true"/>
  </extension>
  <extension point="org.eclipse.ui.newWizards">
  	<category id="prompto.project" name="Prompto"/>
  	<wizard
         category="prompto.project"
         class="prompto.ide.wizard.LibraryProjectWizard"
         icon="images/library_wizard.gif"
         id="prompto.project.library"
         name="Prompto Library Project"
         project="true"/>
  </extension>
  <extension point="org.eclipse.ui.newWizards">
  	<category id="prompto.project" name="Prompto"/>
  	<wizard
         category="prompto.project"
         class="prompto.ide.wizard.ApplicationProjectWizard"
         icon="images/application_wizard.gif"
         id="prompto.project.application"
         name="Prompto Application Project"
         project="true"/>
  </extension>
  <extension point="org.eclipse.ui.newWizards">
  	<category id="prompto.project" name="Prompto"/>
  	<wizard
         category="prompto.project"
         class="prompto.ide.wizard.ServerProjectWizard"
         icon="images/server_wizard.gif"
         id="prompto.project.server"
         name="Prompto Server Project"
         project="true"/>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
      <initializer
            class="prompto.ide.core.prefs.Initializer">
      </initializer>
  </extension>
     <extension
      point = "org.eclipse.ui.preferencePages">
      <page
         id="prompto.prefs.root"
         class="prompto.ide.core.prefs.RootPage"
         name="Prompto">
      </page>
   </extension>  
  <extension point="org.eclipse.ui.propertyPages"> 
  	<page id="prompto.core.libraries" 
  		name="Prompto Libraries"
  		class="prompto.ide.core.props.LibrariesPage">
         <enabledWhen>
			<and>
				<instanceof value="org.eclipse.core.resources.IProject"/>
				<or>
	        		<test property="org.eclipse.core.resources.projectNature" value="prompto.nature.library"/>
	        	</or>
	        </and>
         </enabledWhen>
  	</page>	
  </extension>
  <extension point="org.eclipse.ui.navigator.viewer">
        <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
          <includes>
             <contentExtension pattern="prompto.content.libraries"/>
          </includes>
       </viewerContentBinding>      
  </extension>
  <extension point="org.eclipse.ui.navigator.navigatorContent">
  		<navigatorContent id="prompto.content.libraries" name="Libraries"
  		contentProvider="prompto.ide.content.ContentProvider"
  		labelProvider="prompto.ide.content.LabelProvider"
  		activeByDefault="true"
  		icon="images/library.gif"
  		priority="normal">
  			<triggerPoints>
				<and>
					<instanceof value="org.eclipse.core.resources.IProject"/>
  					<or>
		        		<test property="org.eclipse.core.resources.projectNature" value="prompto.nature.scripts"/>
		        		<test property="org.eclipse.core.resources.projectNature" value="prompto.nature.library"/>
		        		<test property="org.eclipse.core.resources.projectNature" value="prompto.nature.server"/>
		        		<test property="org.eclipse.core.resources.projectNature" value="prompto.nature.application"/>
		        	</or>
		        </and>
  			</triggerPoints>
  			<possibleChildren>
  				<instanceof value="prompto.ide.content.ILibraryElement"/>
  			</possibleChildren>
  		</navigatorContent>
  </extension>
   <extension point="org.eclipse.ui.menus">
 		<menuContribution locationURI="popup:org.eclipse.ui.projectConfigure">
 			<command commandId="disable.prompto">
		      	<visibleWhen>
		      		<iterate ifEmpty="false" operator="or">
	        			<adapt type="org.eclipse.core.resources.IProject">
		  					<or>
				        		<test property="org.eclipse.core.resources.projectNature" value="prompto.nature.scripts"/>
				        		<test property="org.eclipse.core.resources.projectNature" value="prompto.nature.library"/>
				        		<test property="org.eclipse.core.resources.projectNature" value="prompto.nature.server"/>
				        		<test property="org.eclipse.core.resources.projectNature" value="prompto.nature.application"/>
				        	</or>
	         			</adapt>
	         		</iterate>
 		      	</visibleWhen>
 			</command>
			<command commandId="enable.prompto.scripts">
		      	<visibleWhen>
		      		<iterate>
	        			<adapt type="org.eclipse.core.resources.IProject">
		             		<not>
		             			<test property="org.eclipse.core.resources.projectNature" value="prompto.nature.scripts"/>
		             		</not>
	         			</adapt>
	         		</iterate>
 		      	</visibleWhen>
 			</command>
			<command commandId="enable.prompto.library">
		      	<visibleWhen>
		      		<iterate>
	        			<adapt type="org.eclipse.core.resources.IProject">
		             		<not>
		             			<test property="org.eclipse.core.resources.projectNature" value="prompto.nature.library"/>
		             		</not>
	         			</adapt>
	         		</iterate>
 		      	</visibleWhen>
 			</command>
			<command commandId="enable.prompto.server">
		      	<visibleWhen>
		      		<iterate>
	        			<adapt type="org.eclipse.core.resources.IProject">
		             		<not>
		             			<test property="org.eclipse.core.resources.projectNature" value="prompto.nature.server"/>
		             		</not>
	         			</adapt>
	         		</iterate>
 		      	</visibleWhen>
 			</command>
			<command commandId="enable.prompto.application">
		      	<visibleWhen>
		      		<iterate>
	        			<adapt type="org.eclipse.core.resources.IProject">
		             		<not>
		             			<test property="org.eclipse.core.resources.projectNature" value="prompto.nature.application"/>
		             		</not>
	         			</adapt>
	         		</iterate>
 		      	</visibleWhen>
 			</command>
        </menuContribution> 
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command id="disable.prompto" defaultHandler="prompto.ide.menu.DisablePromptoNatureHandler" name="Remove Prompto nature" />
      <command id="enable.prompto.scripts" defaultHandler="prompto.ide.menu.EnableScriptsNatureHandler" name="Add Prompto Scripts nature" />
      <command id="enable.prompto.library" defaultHandler="prompto.ide.menu.EnableLibraryNatureHandler" name="Add Prompto Library nature" />
      <command id="enable.prompto.server" defaultHandler="prompto.ide.menu.EnableServerNatureHandler" name="Add Prompto Server nature" />
      <command id="enable.prompto.application" defaultHandler="prompto.ide.menu.EnableApplicationNatureHandler" name="Add Prompto Application nature" />
   </extension>
   
</plugin>
