<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.4"?>
<plugin>
	<extension point="org.eclipse.ui.editors.documentProviders">
    	<provider 
        	extensions="pec,poc,pmc,pes,pos,pms" 
        	class="prompto.editor.DocumentProvider" 
        	id="prompto.editor.documentProvider"> 
    	</provider> 
	</extension>
 	<extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            describer="prompto.editor.ContentDescriber"
            file-extensions="pec,poc,pmc,pes,pos,pms"
            id="prompto.content-type"
            name="Prompto content type"
            priority="high">
      </content-type>
   </extension>
	<extension point="org.eclipse.ui.editors">
      <editor class="prompto.editor.MultiPageEditor"
            contributorClass="prompto.editor.MultiPageContributor"
            default="false"
            icon="images/src_obj.gif" 
            id="prompto.editor"
            name="Prompto Editor">
         <contentTypeBinding contentTypeId="prompto.content-type"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="prompto.editor.prefs.Initializer">
      </initializer>
   </extension>
    <extension
      point = "org.eclipse.ui.preferencePages">
      <page
         id="prompto.prefs.root"
         class="prompto.editor.prefs.RootPage"
         name="Prompto">
      </page>
      <page
         id="prompto.prefs.editor"
         class="prompto.editor.prefs.EditorPage"
         name="Editor"
         category="prompto.prefs.root">
      </page>
      <page
         id="prompto.prefs.coloring"
         class="prompto.editor.prefs.ColoringPage"
         name="Syntax coloring"
         category="prompto.prefs.editor">
      </page>
   </extension>  
   <extension point="org.eclipse.core.runtime.adapters">
		<factory
    		class="prompto.editor.debug.BreakpointAdapterFactory"
       		adaptableType="prompto.editor.SourceEditor">
       		<adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
    	</factory>
   </extension>
   <!--
 	<extension point="org.eclipse.ui.newWizards">
      <wizard
            category="prompto.wizard.category"
            class="prompto.wizards.project.Wizard"
            icon="images/NewProject.png"
            id="prompto.project.wizard"
            name="Prompto project"
            project="true">
      </wizard>
      <category id="prompto.wizard.category" name="Prompto" />
   </extension>
  <extension point="org.eclipse.ui.menus">
 		<menuContribution locationURI="popup:org.eclipse.ui.projectConfigure">
 			<command commandId="disable.prompto.boa">
		      	<visibleWhen>
		      		<iterate ifEmpty="false" operator="or">
	        			<adapt type="org.eclipse.core.resources.IResource">
		             		<test property="org.eclipse.core.resources.projectNature" value="prompto.boa.nature"/>
	         			</adapt>
	         		</iterate>
 		      	</visibleWhen>
 			</command>
			<command commandId="enable.prompto.boa">
		      	<visibleWhen>
		      		<iterate>
	        			<adapt type="org.eclipse.core.resources.IResource">
		             		<not>
		             			<test property="org.eclipse.core.resources.projectNature" value="prompto.boa.nature"/>
		             		</not>
	         			</adapt>
	         		</iterate>
 		      	</visibleWhen>
 			</command>
        </menuContribution> 
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command id="disable.prompto.boa" defaultHandler="prompto.boa.DisableBoaHandler" name="Remove Prompto (Boa) nature" />
      <command id="enable.prompto.boa" defaultHandler="prompto.boa.EnableBoaHandler" name="Convert to Prompto (Boa) project" />
   </extension>
     -->
 </plugin>
