<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.4"?>
<plugin>
	<extension point="org.eclipse.ui.editors.documentProviders">
    	<provider 
        	extensions="ped,pod,ppd" 
        	class="presto.editor.lang.DocumentProvider" 
        	id="presto.editor.lang.documentProvider"> 
    	</provider> 
	</extension>
 	<extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            describer="presto.editor.e.ContentDescriber"
            file-extensions="ped"
            id="presto.content-type.ped"
            name="Presto E content type"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            describer="presto.editor.o.ContentDescriber"
            file-extensions="pod"
            id="presto.content-type.pod"
            name="Presto O content type"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            describer="presto.editor.p.ContentDescriber"
            file-extensions="ppd"
            id="presto.content-type.ppd"
            name="Presto P content type"
            priority="high">
      </content-type>
    </extension>
	<extension point="org.eclipse.ui.editors">
      <editor class="presto.editor.e.SourceEditor"
            default="false"
            icon="images/ped_obj.gif" 
            id="presto.editor.ped"
            name="Presto E Editor">
         <contentTypeBinding contentTypeId="presto.content-type.ped"/>
      </editor>
      <editor class="presto.editor.o.SourceEditor"
            default="false"
            icon="images/pod_obj.gif"
            id="presto.editor.pod"
            name="Presto O Editor">
         <contentTypeBinding contentTypeId="presto.content-type.pod"/>
      </editor>
      <editor class="presto.editor.p.SourceEditor"
            default="false"
            icon="images/ppd_obj.gif"
            id="presto.editor.ppd"
            name="Presto P Editor">
         <contentTypeBinding contentTypeId="presto.content-type.ppd"/>
      </editor>
    </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="presto.editor.prefs.Initializer">
      </initializer>
   </extension>
    <extension
      point = "org.eclipse.ui.preferencePages">
      <page
         id="presto.prefs.root"
         class="presto.editor.prefs.RootPage"
         name="Presto">
      </page>
      <page
         id="presto.prefs.editor"
         class="presto.editor.prefs.EditorPage"
         name="Editor"
         category="presto.prefs.root">
      </page>
      <page
         id="presto.prefs.coloring"
         class="presto.editor.prefs.ColoringPage"
         name="Syntax coloring"
         category="presto.prefs.editor">
      </page>
   </extension>  
   <extension point="org.eclipse.core.runtime.adapters">
		<factory
    		class="presto.editor.lang.BreakpointAdapterFactory"
       		adaptableType="presto.editor.lang.SourceEditorBase">
       		<adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
    	</factory>
   </extension>
   <!--
 	<extension point="org.eclipse.ui.newWizards">
      <wizard
            category="presto.wizard.category"
            class="presto.wizards.project.Wizard"
            icon="images/NewProject.png"
            id="presto.project.wizard"
            name="Presto project"
            project="true">
      </wizard>
      <category id="presto.wizard.category" name="Presto" />
   </extension>
  <extension point="org.eclipse.ui.menus">
 		<menuContribution locationURI="popup:org.eclipse.ui.projectConfigure">
 			<command commandId="disable.presto.boa">
		      	<visibleWhen>
		      		<iterate ifEmpty="false" operator="or">
	        			<adapt type="org.eclipse.core.resources.IResource">
		             		<test property="org.eclipse.core.resources.projectNature" value="presto.boa.nature"/>
	         			</adapt>
	         		</iterate>
 		      	</visibleWhen>
 			</command>
			<command commandId="enable.presto.boa">
		      	<visibleWhen>
		      		<iterate>
	        			<adapt type="org.eclipse.core.resources.IResource">
		             		<not>
		             			<test property="org.eclipse.core.resources.projectNature" value="presto.boa.nature"/>
		             		</not>
	         			</adapt>
	         		</iterate>
 		      	</visibleWhen>
 			</command>
        </menuContribution> 
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command id="disable.presto.boa" defaultHandler="presto.boa.DisableBoaHandler" name="Remove Presto (Boa) nature" />
      <command id="enable.presto.boa" defaultHandler="presto.boa.EnableBoaHandler" name="Convert to Presto (Boa) project" />
   </extension>
     -->
 </plugin>
